version: "3.9"

services:

  {{ docker_registry_name }}:
    container_name: {{ docker_registry_name }}
    image: registry:2
    restart: always
    environment:
      REGISTRY_HTTP_TLS_CERTIFICATE: /certs/registry.crt
      REGISTRY_HTTP_TLS_KEY: /certs/registry.key
      REGISTRY_AUTH: htpasswd
      REGISTRY_AUTH_HTPASSWD_PATH: /auth/htpasswd
      REGISTRY_AUTH_HTPASSWD_REALM: {{ docker_registry_realm }}
    ports:
      - "{{ docker_registry_port }}:5000"
    volumes:
      - ./data:/var/lib/registry
      - ./certs:/certs
      - ./auth:/auth
